source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://dotnet.myget.org/F/cli-deps/api/v3/index.json
source https://api.nuget.org/v3/index.json




group build
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget FSharp.Formatting
    nuget FSharpVSPowerTools.Core 2.3.0.0


group test
    source https://www.nuget.org/api/v2


    nuget Nunit 
    nuget NUnit.Runners
    nuget SQLprovider
    nuget System.Data.SQLite.Core