source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://dotnet.myget.org/F/cli-deps/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget NuGet.CommandLine
nuget NUnit 2.6.3 framework: >= net40

group build

    source https://api.nuget.org/v3/index.json
    nuget FAKE
nuget FSharp.Formatting

group test
source https://www.nuget.org/api/v2

nuget SQLprovider
nuget System.Data.SQLite.Core